
<div class="fixed-top ex1">
        <div class="pos-f-t">
                <nav class="navbar navbar-dark bg-dark">
                   <div class="container">
                      <ul class="list-group list-group-horizontal">
                      <li class="nav-item">
                          <a class="navbar-brand" href="#"><strong>Lottery MG</strong></a>
                      </li>
                      <li class="nav-item">
                          <a class="navbar-brand" href="https://lottomat.com/bg/rezultati/?ref=E9767EEC7A"><strong><i class="fas fa-check-circle size:5x"> results</i></strong></a>
                      </li>
                      <li class="nav-item">
                          <a class="navbar-brand" href="https://lottomat.com/bg/lotariya/?ref=E9767EEC7A"><strong><i class="fas fa-info-circle size:5x"> info</i></strong></a>
                      </li>
                      </ul>
                   </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fas fa-globe"></i> BG</span>
                  </button>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class=" row bg-dark p-4">
                        <h5><li><a class="col text-white bg-dark" href="https://lottomat.com/ru/?ref=E9767EEC7A">Rусский <img src="assets/imiges/russia.jpg" width="30px" height="20px"></a></li></h5>
                        <h5><li><a class="col text-white bg-dark" href="https://lottomat.com/ro/?ref=E9767EEC7A">Românesc <img src="assets/imiges/romania.png" width="30px" height="20px"></a></li></h5>
                        <div class="w-100"></div>
                        <h5><li><a class="col text-white bg-dark" href="https://lottomat.com/de/?ref=E9767EEC7A">Deutsch <img src="assets/imiges/douch.png" width="30px" height="20px"></a></li></h5>
                        <h5><li><a class="col text-white bg-dark" href="https://lottomat.com/fr/?ref=E9767EEC7A">Français <img src="assets/imiges/france1.png" width="30px" height="20px"></a></li></h5>
                        <div class="w-100"></div>
                       
                        <h5><li><a class="col text-white bg-dark" href="https://lottomat.com/es/?ref=E9767EEC7A">Español <img src="assets/imiges/Spain.png" width="30px" height="20px"></a></li></h5>
                        <h5><li><a class="col text-white bg-dark" href="https://lottomat.com/it/?ref=E9767EEC7A">Italianо <img src="assets/imiges/italy1.png" width="30px" height="20px"></a></li></h5>
                    </div>
                  </div>
              </div>

              
</div>

  