
<div class="row ex2">
  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/powerball/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=powerball&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/mega-millions/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=mega-millions&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/eurojackpot/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=eurojackpot&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/superenalotto/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=superenalotto&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/lotto-uk/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=lotto-uk&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/euromillions/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=euromillions&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/lotto-pl/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=lotto-pl&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/oz-lotto/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=la-primitiva&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/powerball/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=oz-lotto&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/powerball-au/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=powerball-au&type=white"></a>
    </div>
  </div>

  <div class="column">
      <div class="card">
          <a href="https://lottomat.com/bg/igrai/saturday-lotto-au/?ref=e9767eec7a">
            <img src="https://lottomat.com/en/image?size=5&lottery=saturday-lotto-au&type=white"></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <a href="https://lottomat.com/bg/igrai/monday-wednesday-lotto-au/?ref=e9767eec7a">
          <img src="https://lottomat.com/en/image?size=5&lottery=monday-wednesday-lotto-au&type=white"></a>
    </div>
  </div>

  <div class="column">
      <div class="card">
          <a href="https://lottomat.com/bg/igrai/el-gordo-primitiva/?ref=e9767eec7a">
            <img src="https://lottomat.com/en/image?size=5&lottery=el-gordo-primitiva&type=white"></a>
      </div>
    </div>

    <div class="column">
        <div class="card">
            <a href="https://lottomat.com/bg/igrai/lotto-fr/?ref=e9767eec7a">
              <img src="https://lottomat.com/en/image?size=5&lottery=lotto-fr&type=white"></a>
      </div>
    </div>

    <div class="column">
      <div class="card">
          <a href="https://lottomat.com/bg/igrai/lotto-zambia/?ref=e9767eec7a">
            <img src="https://lottomat.com/en/image?size=5&lottery=lotto-zambia&type=white"></a>
      </div>
    </div>
</div>

